<form action="/celebrities/{{item.id}}/edit" method="post">
    <label for="">Name: </label>
    <input type="text" name="name" id="" value="{{item.name}}" required>
    <label for="">Occupation: </label>
    <input type="text" name="occupation" id="" value="{{item.occupation}}" required>
    <label for="">Catch Phrase: </label>
    <input type="text" name="catchPhrase" id="" value="{{item.catchPhrase}}" required>
    <br><br>
    <input type="submit" value="Edit">
</form>
<form action="/celebrities/{{item.id}}/delete" method="post">
    <input type="submit" value="Delete">
</form>